body{
    background-color: rgb(217, 222, 223);
}
.container{
    margin-top: 70px;
    margin-left: 366px;
    align-items: center;
    justify-content: center;
}
.main{
    padding: 20px;
    font-family: Arial;
    box-shadow: 5px  5px 7px 5px #8888;
}

.main h1{
    font-size: 36px;
    text-align: center;
    font-family: Arial;
    margin-right: 450px;
    /* margin-left: -120px; */
    /* padding-right: 230px; */
    /* background-color: whitesmoke; */
}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #764776;

}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #764776;
    border:none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}
#doc{
    height: 5vh;
    width: 45%;
    margin-left: 10px;
    font-size: 18px;
    color: #17161688;
}



/* *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(160, 168, 146); 
    display: flex;
    background-size: cover;
    height: 700px;
    width: 100%;
    object-fit: cover;
}
fieldset{
    margin-top: 130px;
    margin-left: 260px;
    margin-bottom: 200px;
    height: 450px;
    width: 45%;
    justify-content: center;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    background-color:rgb(192, 239, 239);
    border-radius: 18px;
    border: none;
}
fieldset:hover{
    box-shadow: 0px 0px 10px rgb(112, 103, 55);
    transition: all .3s;
}
input[type=text]{ 
    padding-left: 90px;
    height: 5vh;
    width: 20% ;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: white;
    color: white;
    font-size: 1 rem;
}
button{
    padding: 5px;
    margin-left: 280px;
    width: 20% ;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(85, 156, 77);
    color: white;
    font-size: 1.3rem;
    justify-content: center;
    border-radius: 4px;
}
h1{
    text-align: center;
    color: rgb(35, 35, 162);
}

.b6{
    color: black;
}
.b6:hover{
    background-color: rgb(220, 234, 196);
}
p{
    color: rgb(35, 35, 162);
    font-size: 18px;
}
label{
    color:rgb(35, 35, 162);
    font-size: 18px;
}
.g{
    font-size: 17px;
    color: black;
}

#register_country{
    height: 5vh;
    width: 30%;
    border: none;
    border-radius: 4px;
} */